@import "~@angular/material/prebuilt-themes/indigo-pink.css";
body{
    margin: 0;
    font-family: 'Roboto';
}
.mat-toolbar.mat-primary{
    background: #60CC94;
}
.mat-raised-button.mat-accent{
    background: rgb(48, 157, 190);
    color: white;
}
form{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 40px auto;
    
}
.passwords {
    display: flex;
    flex-direction: column;
    width: 90%;
    
}
.passwords p{
    color: red;
}
.mat-raised-button{
    background: rgb(48, 157, 190);
    color: white;

}
.mat-fab.mat-accent, .mat-flat-button.mat-accent, .mat-mini-fab.mat-accent, .mat-raised-button.mat-accent{
    background: rgba(48, 157, 190, 0.466);
    overflow: hidden;
}
.mat-fab.mat-accent:hover, .mat-flat-button.mat-accent:hover, .mat-mini-fab.mat-accent:hover, .mat-raised-button.mat-accent:hover{
    background: rgb(48, 157, 190);

}
